body{
background-color:beige;
margin: 0

}


h1{
    font-family: 'EB Garamond', serif;
    font-size: 70px;
    color: #16231e;
}
h2{
    Font-size: 50px;
    color:#000000;
    font-family: 'Poppins', sans-serif;
}