body {
    background-color: beige;
    margin: 0
}


h1 {
    font-family: 'EB Garamond', serif;
    font-size: 70px;
    color: #ffffff;
}

h2 {
    Font-size: 50px;
    color: #000000;
    font-family: 'Poppins', sans-serif;
}

.homepage-hero {
    height: 240px;
    text-align: center;
    padding: 120px 0;
    background-color:#16231e;
}

.main-container {
    width: 800px;
    margin: 0 auto;
    padding: 0 10px;
}

footer {
    background-color:#16231e;
    text-align: center;
    padding: 20px 0;
}