body {
    background-color: beige;
    margin: 0
}


h1 {
    font-family: 'EB Garamond', serif;
    font-size: 70px;
    color: #000000;
}

h2 {
    Font-size: 50px;
    color: #000000;
    font-family: 'Poppins', sans-serif;
}

.homepage-hero {
    height: 200px;
    text-align: center;
    padding: 80px 0;
    background-color:#16231e;
    background-image: url("https://images.pexels.com/photos/911738/pexels-photo-911738.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.main-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
}

footer {
    background-color:#16231e;
    text-align: center;
    padding: 20px 0;
    color:#ffffff
}

.article-left, .article-right{
    display: flex;
}
.article-right{
    flex-direction: row-reverse;
}

.article-left img, .article-right img{
    width: 50%;
}

article{
    margin: 20px 30px 40px;
    padding: 15px 20px;
}